<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
         bootstrap="vendor/autoload.php" 
         colors="true" 
         failOnRisky="false" 
         failOnWarning="false" 
         stopOnFailure="false" 
         cacheDirectory=".phpunit.cache">
         
  <testsuites>
    <!-- Running phpunit without a test suite filter executes both -->
    <testsuite name="Unit">
      <directory>tests</directory>
      <exclude>tests/Integration</exclude>
    </testsuite>

    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  
  <groups>
    <exclude>
      <group>stress</group>
      <group>slow</group>
    </exclude>
  </groups>
  
  <logging>
    <junit outputFile="reports/junit.xml"/>
    <testdoxHtml outputFile="reports/testdox.html"/>
    <testdoxText outputFile="reports/testdox.txt"/>
  </logging>
  
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
